.arrow-down {
  width: 60px;
  height: 40px;
  margin: 0 0 0 -30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  animation: arrow-move 0.5s 1s infinite ease-out alternate;
  cursor: pointer;
}

.arrow-down:hover {
  animation-play-state: paused;
}

.arrow-part {
  position: absolute;
  height: 10px;
  width: 40px;
  background: rgb(28, 119, 253);
  box-shadow: 2px 2px 15px rgb(13, 81, 255);
  border-radius: 4px;
  top: 10px;
  left: 10px;
  transform-origin: 5px 50%;
}

.left {
  transform: rotate(240deg);
  animation: arrow-left 0.5s 1s infinite ease-out alternate;
}

.right {
  transform: rotate(-60deg);
  animation: arrow-right 0.5s 1s infinite ease-out alternate;
}

@keyframes arrow-move {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes arrow-left {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

@keyframes arrow-right {
  0% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
