.heading {
    color: #008ECC;
}

.category-card {
    width: 132px !important;
    height: 172px;
    .category-img {
        width: 132px;
        height: 132px;
        background-color: #F5F5F5;
    }
    img {
        width: 90px;
        height: 90px;
    }
}

.category-card:hover .category-img {
    transition: .3s ease all;
    border: 1px solid #40c1f8;
    box-shadow: 1px 1px 10px lightblue;
}

.category-card:hover img {
    transition: .5s ease-in-out all;
    transform: scale(1.2);
}
