.menu-icon {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}

.nav-link {
    transition: .5s all ease-in-out;
}

.nav-link:hover {
        padding-left: 30px;
        background-color: #383838;
    }